@import "css-reset.css";

@font-face {
    font-family: 'Outfit';
url('Outfit/Outfit-VariableFont_wght.ttf')  format('truetype'),
}

body {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: 16px;
}

.container {
    background-color: white;
    border-radius: 20px;
    width: 25rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 20rem;
    padding: 16px;
}


.image {
    display: block;
    width: 20rem;
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-radius: 10px;
}

.text-headline {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding: 0 16px;
}

.text-subtext {
    font-weight: 500;
    color: hsl(216, 15%, 48%);
    padding: 0 16px;
}